span {
  padding: 10px;
}

.sort__option {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.sort__option.active {
  border-color: #007bff;

}

.sort__option input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  margin-right: 8px;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;
}

.sort__option input[type="radio"]:checked {
  border-color: #007bff;
  background-color: #fff;
}

.sort__option input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 3px;
}

.sort__option label {
  cursor: pointer;
}
