<div class="company-list-container">

  <div *ngIf="(_companyService.companies$ | async)?.length" class="common-list-container__content" appObserveElement [distance]="400" [throttle]="800" (scrolled)="onScroll($event)">
    <ul class="company__list">
        <li *ngFor="let company of (_companyService.companies$ | async); let index=index;" class="company-list__item">
          <app-company-item (click)="navigateToDetailPage(company.id)" [company]="company" [index]="index"></app-company-item>
        </li>
    </ul>
  </div>

  <ng-container *ngIf="!(_companyService.companies$ | async)?.length">
    <app-skeleton-loader *ngFor="let i of ARRAY_FOR_SKELETON" class="common-list-container__content"></app-skeleton-loader>
  </ng-container>
</div>
