.loader {
  position: relative;
   background: #f7f9fb;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.loader::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgb(234, 239, 255), transparent);
  animation: loading 2s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
