<div class="company" *ngIf="_companyDetailService.company as company">
  <img src="{{company.logo}}" alt="Логотип компании" class="company__logo">
  <hr class="company__divider">
  <div class="company__name">suffix: {{ company.business_name }}</div>
  <div class="company__industry">industry: {{company.industry}}</div>
  <div class="company__catch-phrase">catch_phrase: {{company.catch_phrase}}</div>
  <div class="company__contact">
    <a href="tel:{{company.phone_number}}">phone_number: {{company.phone_number}}</a></div>
  <div class="company__address">Адрес: {{ company.full_address }}</div>
  <div class="company__back-link">
    <a (click)="navigateToBackUrl()">Вернуться назад</a>
  </div>
</div>
